In [5]:
import pandas as pd
import numpy as np
import rpy2

df = pd.DataFrame({
    'cups_of_coffee': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
    'productivity': [2, 5, 6, 8, 9, 8, 0, 1, 0, -1]
})
df.transpose()

                0  1  2  3  4  5  6  7  8  9
cups_of_coffee  0  1  2  3  4  5  6  7  8  9
productivity    2  5  6  8  9  8  0  1  0 -1

In [12]:
from rpy2.robjects.packages import importr
utils = importr('utils')
ggplot2 = importr('ggplot2')

In [14]:
%%R -i df 
ggplot2(df, aes(x=reorder(cups_of_coffee,productivity), y=productivity)) + geom_col() + coord_flip()

UsageError: Cell magic `%%R` not found.